@model WebAppBlog.ViewModels.PostDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<hr />
<article class="blog-post">
    <header>
        <h2 class="blog-post-title">@Model.Title</h2>
        <p class="blog-post-meta">
            @(Model.UpdatedAt?.ToString("yyyy년 MM월 dd일") ?? @Model.CreatedAt.ToString("yyyy년 MM월 dd일"))
        </p>
    </header>
    <hr />
    <div class="markdown-body">
        @Html.Raw(Model.Content)
	</div>
    <hr />
</article>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">수정하기</a> |
    <a asp-action="Index">돌아가기</a>
</div>
